body{
    background-color: #222;
    color: #eee;
    font-family: "Roboto", "Noto Sans TC", "Noto Sans KR", "Cascadia Code", sans-serif;
    margin-left: 10vw; margin-right: 10vw;
    margin-top: 5vh; margin-bottom: 5vh;
    font-size: 16px;
}

a{
    color: #4ea1d3;
    text-decoration: none;
}

code{
    color: #eee;
    font-family: "Cascadia Code", monospace;
    /* padding: 2px 4px; */
    border-radius: 4px;
}

.title{
    font-size: 6.5vw;
    font-weight: bold;
    font-family: "Exo 2", "Noto Sans TC", "Noto Sans KR", sans-serif;
    text-align: center;

    background-color: #333;
    border-radius: 4vw;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 10vh 0;

    max-height: 50vh;
}

.exerciselist{
    font-size: 1.5em;
    width: 80vw;
    padding: auto;
    margin-bottom: 0.5em;
}
.exerciselist th{
    text-align: right;
    padding-right: .5em;
    min-width: 35vw;
}
.exerciselist td{
    text-align: left;
    padding-left: .5em;
    min-width: 35vw;
}

.backbtn{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    background-color: #444;
    color: #eee;
    border: none;
    padding: 2vh 3vh;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 1em;
}

.backbtn:hover{
    background-color: #555;
}

.cpr
{
    text-align: center;
    font-size: .75em;
}